<h1>
  <%= @member.name %>
</h1>

<dl>
  <%
    [
      ["First name", :first_name],
      ["Middle name", :middle_name],
      ["Last name", :last_name],
      ["Membership type", ->(member) { member.membership_type.titleize }],
      ["Date of Birth", :date_of_birth],
      ["Nationality", :nationality],
      ["Address", :address],
      ["Zip", :zip],
      ["City", :city],
      ["Phone", :phone],
      ["Email", :email],
      ["CPR", :cpr],
      ["Dad's phone", :dad_phone],
      ["Mom's phone", :mom_phone],
      ["Dad's email", :dad_email],
      ["Mom's email", :mom_email],
      ["Admission date", :admission_date],
    ].each do |humanreadable_field_value, field|
  %>
    <dt><%= humanreadable_field_value %></dt>

    <%
        value = if field.respond_to?(:call)
                  field.call @member
                else
                  @member.send(field)
                end

        if value.nil?
          value = "-"
        end
    %>

    <dd><%= value %></dd>
  <% end %>
</dl>
